In [1]:
from google.cloud import bigquery

In [2]:
client = bigquery.Client()

In [3]:
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")
dataset = client.get_dataset(dataset_ref)

In [4]:
tables = list(client.list_tables(dataset))

for table in tables:
    print(table.table_id)

comments
full
full_201510
stories

In [5]:
table_ref = dataset_ref.table("full")
table = client.get_table(table_ref)

In [6]:
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', ()),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", ()),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', ()),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', ()),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ())]

In [7]:
client.list_rows(table, max_results=7).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,Wrecker – A HTTP Request Builder Written in Go,https://github.com/BrandonRomano/wrecker,None,None,BrandonRRomano,3.0,1434564076,2015-06-17 18:01:16+00:00,story,9733936,NaN,0.0,None,None
1,None,None,OTOH code completion is still only mediocre fo...,None,swah,NaN,1447097506,2015-11-09 19:31:46+00:00,comment,10535217,10532957.0,NaN,None,None
2,None,None,Are you saying the &quot;code generation layer...,None,micahbright,NaN,1462486065,2016-05-05 22:07:45+00:00,comment,11640016,11639332.0,NaN,None,None
3,None,None,The logic behind quoting FEMA is that the figu...,None,m52go,NaN,1507771783,2017-10-12 01:29:43+00:00,comment,15455008,15454472.0,NaN,None,None
4,None,None,I should clarify that I don't see technologica...,None,angusiguess,NaN,1329852926,2012-02-21 19:35:26+00:00,comment,3617742,3617076.0,NaN,None,None
5,None,None,You can sell a lot of garbage to consumers who...,None,fuzzfactor,NaN,1467485953,2016-07-02 18:59:13+00:00,comment,12023464,12021494.0,NaN,None,None
6,Ask HN: How to build a laptop,None,I need a new laptop and I'd like to build one ...,None,revorad,9.0,1306764201,2011-05-30 14:03:21+00:00,story,2599389,NaN,16.0,None,None

In [9]:
client.list_rows(table, selected_fields=table.schema[:3], max_results=7).to_dataframe()

,title,url,text
0,Wrecker – A HTTP Request Builder Written in Go,https://github.com/BrandonRomano/wrecker,None
1,None,None,OTOH code completion is still only mediocre fo...
2,None,None,Are you saying the &quot;code generation layer...
3,None,None,The logic behind quoting FEMA is that the figu...
4,None,None,I should clarify that I don't see technologica...
5,None,None,You can sell a lot of garbage to consumers who...
6,Ask HN: How to build a laptop,None,I need a new laptop and I'd like to build one ...

## Exercise

In [11]:
client = bigquery.Client()
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")
dataset = client.get_dataset(dataset_ref)

In [14]:
tables = client.list_tables(dataset)
for t in tables:
    print(t.table_id)

crime

In [18]:
tables = client.list_tables(dataset)
t_list = [t.table_id for t in tables]
print(t_list)
print(len(t_list))

['crime']
1

In [23]:
tables = client.list_tables(dataset)
t1 = list(tables)
len(t1)

1

In [25]:
table_ref = dataset_ref.table("crime")
table = client.get_table(table_ref)

In [26]:
table.schema

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', 'Unique identifier for the record.', ()),
 SchemaField('case_number', 'STRING', 'NULLABLE', 'The Chicago Police Department RD Number (Records Division Number), which is unique to the incident.', ()),
 SchemaField('date', 'TIMESTAMP', 'NULLABLE', 'Date when the incident occurred. this is sometimes a best estimate.', ()),
 SchemaField('block', 'STRING', 'NULLABLE', 'The partially redacted address where the incident occurred, placing it on the same block as the actual address.', ()),
 SchemaField('iucr', 'STRING', 'NULLABLE', 'The Illinois Unifrom Crime Reporting code. This is directly linked to the Primary Type and Description. See the list of IUCR codes at https://data.cityofchicago.org/d/c7ck-438e.', ()),
 SchemaField('primary_type', 'STRING', 'NULLABLE', 'The primary description of the IUCR code.', ()),
 SchemaField('description', 'STRING', 'NULLABLE', 'The secondary description of the IUCR code, a subcategory of the primary description.', ()),
 SchemaField('location_description', 'STRING', 'NULLABLE', 'Description of the location where the incident occurred.', ()),
 SchemaField('arrest', 'BOOLEAN', 'NULLABLE', 'Indicates whether an arrest was made.', ()),
 SchemaField('domestic', 'BOOLEAN', 'NULLABLE', 'Indicates whether the incident was domestic-related as defined by the Illinois Domestic Violence Act.', ()),
 SchemaField('beat', 'INTEGER', 'NULLABLE', 'Indicates the beat where the incident occurred. A beat is the smallest police geographic area – each beat has a dedicated police beat car. Three to five beats make up a police sector, and three sectors make up a police district. The Chicago Police Department has 22 police districts. See the beats at https://data.cityofchicago.org/d/aerh-rz74.', ()),
 SchemaField('district', 'INTEGER', 'NULLABLE', 'Indicates the police district where the incident occurred. See the districts at https://data.cityofchicago.org/d/fthy-xz3r.', ()),
 SchemaField('ward', 'INTEGER', 'NULLABLE', 'The ward (City Council district) where the incident occurred. See the wards at https://data.cityofchicago.org/d/sp34-6z76.', ()),
 SchemaField('community_area', 'INTEGER', 'NULLABLE', 'Indicates the community area where the incident occurred. Chicago has 77 community areas. See the community areas at https://data.cityofchicago.org/d/cauq-8yn6.', ()),
 SchemaField('fbi_code', 'STRING', 'NULLABLE', "Indicates the crime classification as outlined in the FBI's National Incident-Based Reporting System (NIBRS). See the Chicago Police Department listing of these classifications at http://gis.chicagopolice.org/clearmap_crime_sums/crime_types.html.", ()),
 SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', 'The x coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.', ()),
 SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', 'The y coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.', ()),
 SchemaField('year', 'INTEGER', 'NULLABLE', 'Year the incident occurred.', ()),
 SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', 'Date and time the record was last updated.', ()),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', 'The latitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.', ()),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', 'The longitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.', ()),
 SchemaField('location', 'STRING', 'NULLABLE', 'The location where the incident occurred in a format that allows for creation of maps and other geographic operations on this data portal. This location is shifted from the actual location for partial redaction but falls on the same block.', ())]

In [31]:
d1 = client.list_rows(table, max_results=7).to_dataframe()

In [32]:
d1

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,11229699,JB150633,2017-12-21 13:19:00+00:00,086XX S DORCHESTER AVE,1120,DECEPTIVE PRACTICE,FORGERY,BANK,False,False,...,8,45,10,NaN,NaN,2017,2018-02-14 15:52:17+00:00,NaN,NaN,None
1,7014470,HR419719,2008-10-01 00:01:00+00:00,057XX N MILWAUKEE AVE,1140,DECEPTIVE PRACTICE,EMBEZZLEMENT,CONVENIENCE STORE,False,False,...,45,11,12,NaN,NaN,2008,2015-08-17 15:03:40+00:00,NaN,NaN,None
2,10265346,HY437989,2015-09-25 14:38:00+00:00,091XX S GREENWOOD AVE,1821,NARCOTICS,MANU/DEL:CANNABIS 10GM OR LESS,VEHICLE NON-COMMERCIAL,True,False,...,8,47,18,NaN,NaN,2015,2018-02-09 15:44:29+00:00,NaN,NaN,None
3,10962341,JA284749,2015-01-01 00:01:00+00:00,030XX S WELLS ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,11,34,11,NaN,NaN,2015,2017-05-31 15:53:27+00:00,NaN,NaN,None
4,11694608,JC271499,2019-05-20 02:07:00+00:00,003XX W 24TH PL,0630,BURGLARY,ATTEMPT FORCIBLE ENTRY,RESIDENCE,False,False,...,25,34,05,1174345.0,1888046.0,2019,2019-06-30 15:56:27+00:00,41.848199,-87.635631,"(41.848198875, -87.635630897)"
5,11698658,JC277200,2019-05-24 20:05:00+00:00,076XX W FOSTER AVE,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,RESTAURANT,False,False,...,41,10,11,1124307.0,1933628.0,2019,2019-06-30 15:56:27+00:00,41.974251,-87.818271,"(41.974251019, -87.818271499)"
6,11709366,JC290107,2019-06-03 04:16:00+00:00,057XX N FOREST GLEN AVE,1360,CRIMINAL TRESPASS,TO VEHICLE,RESIDENTIAL YARD (FRONT/BACK),False,False,...,39,12,26,1143384.0,1937929.0,2019,2019-06-30 15:56:27+00:00,41.985717,-87.748011,"(41.98571711, -87.748010777)"

In [38]:
type(d1.date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [43]:
t_list = [type(d1[col][0]) for col in d1.columns]
t_list

[numpy.int64,
 str,
 pandas._libs.tslibs.timestamps.Timestamp,
 str,
 str,
 str,
 str,
 str,
 numpy.bool_,
 numpy.bool_,
 numpy.int64,
 numpy.int64,
 numpy.int64,
 numpy.int64,
 str,
 numpy.float64,
 numpy.float64,
 numpy.int64,
 pandas._libs.tslibs.timestamps.Timestamp,
 numpy.float64,
 numpy.float64,
 NoneType]

In [52]:
d1.columns

Index(['unique_key', 'case_number', 'date', 'block', 'iucr', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic', 'beat',
       'district', 'ward', 'community_area', 'fbi_code', 'x_coordinate',
       'y_coordinate', 'year', 'updated_on', 'latitude', 'longitude',
       'location'],
      dtype='object')

In [ ]:
## Here is the flow:
## 1. client
## 2. data_ref: client.dataset
## 3. data: client.get_dataset(data_ref)
## 4. table_ref: data_ref.table(table_name)